$color-background:#EDF2EC;
$color-navigation:#010201;
$color-h1:#717171;
$color-second:#499A18;
$color-primary-text:#636060;
$color-primary:#E06733;
$color-second-text:#000000;

$content-width:1220px;
$tablet-width:758px;
$mobile-width:330px;

$padding-header:42px;
$padding-logo:10px;
$padding-navigation:10px;
$padding-welcome:42px;
