$color-background:#EDF2EC;
$color-navigation:#010201;
$color-h1:#717171;
$color-second:#499A18;
$color-primary-text:#636060;
$color-primary:#E06733;
$color-second-text:#000000;
$color-circle:#D9D9D9;
$color-select: #D6E7D2;

$content-width-1221:1221px;
$content-width-1001:1001px;
$content-width-801:801px;
$tablet-width:758px;
$mobile-width:330px;

$padding-header:42px;
$padding-logo:10px;
$padding-navigation:10px;
$padding-welcome:42px;
