@mixin font($size,$style,$weight,$line-height){
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin flex($display,$content){
  display:$display;
  justify-content: $content;
}

@mixin media-adaptive {
  @media (max-width:$screen-width-1221){@content;}
}

@mixin media-adaptive-1001 {
  @media (max-width:$screen-width-1001){@content;}
}

@mixin media-adaptive-801 {
  @media (max-width:$screen-width-801){@content;}
}

@mixin media-tablet {
  @media (max-width:$screen-tablet-width){@content;}
}
