.container__footer{
  @include flex ($display: flex, $content:flex-start);
  padding: 40px 0;
}

.footer__img-block{
  display: block;
  width: 11%;
}
.footer__img{
  display: block;
  padding-top: 15px;
}

.footer_left-part{
  @include flex ($display: flex, $content:space-between);
  width: 14%;
  @include media-adaptive{
    width: 18%;
  }
  @include media-adaptive-1001{
    width: 22%;
  }
}

.footer__year,
.footer__github,
.footer__center-part{
  @include font($size: 2.0rem,$style: normal,$weight: 400,$line-height:5.0rem);
  @extend %font-second;
}

.footer__center-part{
  margin-left: 28%;
  width: 19%;
  @include media-adaptive{
    width: 26%;
    margin-left: 24%;
  }
  @include media-adaptive-1001{
    width: 33%;
    margin-left: 20%;
  }
}

.footer_right-part{
  margin-left: 26%;
  width: 16%;
  @include media-adaptive{
    width: 20%;
    margin-left: 20%;
  }
  @include media-adaptive-1001{
    width: 24%;
    margin-left: 14%;
  }
}

.navigation__link{
  display: block;
  padding-top: 9px;
}
