.header{
  background-color: $color-background;
}

.container__header{
  @include flex ($display: flex, $content:space-between);
  padding: $padding-header 0;
  @include media-tablet{
    padding: 35px 0;
  }
}

.header__navigation{
  width: 37%;
  @include media-adaptive-1001 {
    width: 57%;
  }
  @include media-tablet{
    width: 67.2%;
  }
}

.navigation{
  @include flex ($display: flex, $content:space-between);
  list-style: none;
}

.navigation__link{
  @extend %font-main;
  text-decoration: none;
  @include font($size: 1.6rem,$style: normal,$weight: 400,$line-height:5.0rem);
  color: $color-navigation;
}

.logo{
  padding-top: $padding-logo;
}

.logo__text{
  @extend %font-main;
  @include font($size: 1.6rem,$style: normal,$weight: 400,$line-height:normal);
 }





