*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 10px;
    line-height: 16px;
}

body{
    margin: 0, auto;
}

button{
  @extend %button-main;
}
h2{
  @include font($size: 4.0rem,$style: normal,$weight: 400,$line-height:normal);
  @extend %font-main;
}
.accordion{
  background-color: $color-background;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  margin: 34px 40px;
}

