.contacts{
  background-color: $color-background;
}
.container__contacts{
  @include flex ($display: flex, $content:flex-start);
  padding-top: 53px;
  @include media-adaptive-1001{
   flex-direction: column;
  }
  @include media-tablet{
    padding-top: 40px;
  }
}
.contacts__title{
  width: 16%;
  margin-top: 7px;
  margin-left: 9%;
  color: $color-second;
  @include media-adaptive{
    width: 25%;
    margin-left: 5%;
  }
  @include media-adaptive-1001{
    margin: auto;
    order:1;
  }
  @include media-tablet{
    @include font($size: 4.0rem,$style: normal,$weight: 700,$line-height:normal);
    width: 29%;
  }
  @include media-adaptive-669{
    width: 38%;
  }
  @include media-adaptive-559{
    width: 47%;
  }
}
.contacts__form{
  margin-left: 5.2%;
  margin-top: 95px;
  width: 37% ;
  @include media-adaptive{
    margin-left: 3%;
  }
  @include media-adaptive-1001{
    margin: auto;
    margin-top: 20px;
    order:2;
  }
  @include media-tablet{
    width:67.3%;
    margin-top: 99px;
  }
}
.contacts__choice{
  display: block;
  @include font($size: 2.0rem,$style: normal,$weight: 400,$line-height:4.0rem);
  letter-spacing: 0.1rem;
  color: $color-h1;
  padding: 5px 35px 5px 20px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  appearance: none;
  background-color: $color-select;
  background-image: url("/Plants-RS-School/Plants/images/accordion_btn.svg");
  background-repeat: no-repeat;
  background-position: right 35px top 50%, 0 0;
  width: 100% ;
  height: 50px;
}

.contacts__value{
  margin-left: 20px;
}

.contacts__img{
  @include media-adaptive-1001{
  width: 50%;
  margin: auto;
  margin-top: 20px;
  order:3;
  }
  @include media-tablet{
    width:30%;
    margin-top: 250px;
  }
}