.container__prices{
  padding: 40px 0 115px 0;
  @include flex ($display: flex, $content:space-between);
}

.prices__title{
  @include font($size: 4.0rem,$style: normal,$weight: 700,$line-height:normal);
  color: $color-second-text;
  @extend %font-second;
}

.prices__accordion{
  margin-top: 60px;
  height: 282px;
  @extend %card-border;
}

.accordion__text{
  @include font ($size: 2.0rem,$style: normal,$weight: 700,$line-height:2.0rem);
  color: $color-second-text;
  @extend %font-second;
  margin-top:16px;
}
.prices__inside{
  @include flex ($display: flex, $content:space-between);
  padding: 0 40px;
}
.accordion__circle{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-circle;
  margin-top: 17px;
}

.accordion__arrow{
  display: block;
  margin: 6px auto;
}
.information__price{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 37%;
  @include media-adaptive-1001{
    width: 50%;
  }
}
.prices__information{
  @include font($size: 4.0rem,$style: normal,$weight: 700,$line-height:5.0rem);
  @extend %font-second;
  text-align: end;
  width: 100%;
  color: $color-second-text;
}

.information__world{
  color: $color-second;
}

.button_contact{
  margin-top: 38px;
  margin-left: 64%;
  width: 36%;
  height: 50px;
  color: $color-primary;
  @include font($size: 2.0rem,$style: normal,$weight: 700,$line-height:normal);
  @extend %font-main;
  background-color: #ffffff;
  border-radius: 5px;
}

.prices__img{
  display: block;
  margin-top: 39px;
  margin-left: 290px;
}

