.container__prices{
  padding: 40px 0 88px 0;
  @include flex ($display: flex, $content:space-between);
  @include media-adaptive-669{
    flex-direction: column;
    padding: 40px 0 40px 0;
  }
}

.prices__title{
  @include font($size: 4.0rem,$style: normal,$weight: 700,$line-height:normal);
  color: $color-second-text;
  @extend %font-second;
  @include media-tablet{
    @include font($size: 3.5rem,$style: normal,$weight: 700,$line-height:normal);
    margin-left: 14px;
  }
  @include media-adaptive-669{
    width: 24%;
    margin: auto;
  }
}

.prices__accordion{
  margin-top: 60px;
  height: 282px;
  @extend %card-border;
  @include media-tablet{
    margin-top: 55px;
  }
  @include media-adaptive-669{
    width: 60%;
    margin: 30px auto;
  }
}

.accordion__text{
  @include font ($size: 2.0rem,$style: normal,$weight: 700,$line-height:2.0rem);
  color: $color-second-text;
  @extend %font-second;
  margin-top:16px;
}
.prices__inside{
  @include flex ($display: flex, $content:space-between);
  padding: 0 40px;
}
.accordion__circle{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-circle;
  margin-top: 17px;
}

.accordion__arrow{
  display: block;
  margin: 6px auto;
}
.information__price{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 37%;
  @include media-adaptive-1001{
    width: 50%;
  }
  @include media-tablet{
    width: 44.5%;
  }
  @include media-adaptive-669{
    margin: 0 auto;
    width: 46%;
  }
}
.prices__information{
  @include font($size: 4.0rem,$style: normal,$weight: 700,$line-height:5.0rem);
  @extend %font-second;
  text-align: end;
  width: 100%;
  color: $color-second-text;
  @include media-tablet{
    @include font($size: 2.5rem,$style: normal,$weight: 700,$line-height:3.5rem);
    margin-top: 99px;
  }
  @include media-adaptive-669{
    margin-top: 0;
    text-align: center;
  }
}

.information__world{
  color: $color-second;
}

.button_contact{
  margin-top: 38px;
  margin-left: 64%;
  width: 36%;
  height: 50px;
  color: $color-primary;
  @include font($size: 2.0rem,$style: normal,$weight: 700,$line-height:normal);
  @extend %font-main;
  background-color: #ffffff;
  border-radius: 5px;
  @include media-tablet{
    width:54.7%;
    margin-left: 44.5%;
    margin-top: 28px;
  }
  @include media-adaptive-669{
    margin: 20px auto;
  }
}

.prices__img{
  display: block;
  margin-top: 39px;
  margin-left: 290px;
  @include media-tablet{
    width:51%;
    margin-left: 49%;
    margin-top: 34px;
  }
  @include media-adaptive-669{
    margin: 20px auto;
  }
}

