.welcome{
 background-color: $color-background;
}

.container__welcome{
  @include flex ($display: flex, $content:space-between);
  padding: $padding-welcome 0;
  @include media-tablet{
    flex-direction: row-reverse;
    padding: 40px 0 70px 0;
  }
  @include media-adaptive-559{
    flex-direction: column-reverse;
  }
  @include media-mobile{
    padding: 24px 0;
  }

}

.information{
  padding: 36px 0 32px 0;
  width: 45%;
  @include media-tablet{
    width: 52%;
    padding: 0;
  }
  @include media-adaptive-559{
    width: 100%;
  }
}

h1{
  @extend %font-second;
  @include font($size: 4.5rem,$style: normal,$weight: 700,$line-height:5.0rem);
  color: $color-h1;
  @include media-tablet{
    @include font($size: 3.5rem,$style: normal,$weight: 700,$line-height:5.0rem);
  }
  @include media-mobile{
    @include font($size: 2.5rem,$style: normal,$weight: 700,$line-height:3.5rem)
  }
}
  
.welcome__text{
  margin-top: 42px;
  @extend %font-second;
  color: $color-primary-text;
  @include font($size: 2.0rem,$style: normal,$weight: 400,$line-height:3.5rem);
  width:95%;
  @include media-tablet{
    @include font($size: 1.6rem,$style: normal,$weight: 400,$line-height:2.5rem);
    margin-top: 30px;
    width: 100%;
  }
  @include media-mobile{
    margin-top: 20px;
  }
}

.button_information{
  margin-top: 48px;
  width: 29%;
  height: 44px;
  @include font($size: 1.6rem,$style: normal,$weight: 400,$line-height: 2.0rem);
  @extend %font-second;
  color: $color-second-text;
  
  &:hover{
    @extend %button-hover;
  }

  @include media-adaptive{
    width: 35%;
  }

  @include media-adaptive-1001{
    width: 44%;
  }
  
  @include media-tablet{
    width: 46%;
    margin-top: 30px;
  }

  @include media-mobile{
    margin-top: 25px;
    width: 30%;
    height: 34px;
    @include font($size: 1.0rem,$style: normal,$weight: 400,$line-height: 2.0rem);
  }


}

.welcome__img{
  @include media-adaptive-1001{
    width: 50%;
    height: 100%;
    margin-top: 10px;
  }
  @include media-tablet{
    width: 42%;
    height: 252px;
    margin-top: 0;
  }
  @include media-adaptive-669{
    width: 48%;
  }
  @include media-adaptive-559{
    margin-top:10px;
  }
  @include media-adaptive-449{
    width: 65%;
  }
  @include media-mobile{
    display: none;
  }
}
