.button__information, .button__choice, .logo__text, .navigation__link, h2 {
  font-family: Inika, Georgia, serif;
}

.prices__information, .accordion__text, .prices__title, .card__table-of-contents,
.card__text, .aboute__text, .button, .welcome__text, h1 {
  font-family: Inter, Verdana, sans-serif;
}

button {
  border-radius: 10px;
  border: 1px solid #E06733;
}

.card__table-of-contents,
.card__text {
  text-align: center;
}

.prices__accordion, .card {
  border-radius: 20px;
  border: 1px solid #E3E1D5;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 10px;
  line-height: 16px;
}

body {
  margin: 0, auto;
}

button {
  height: 50px;
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordion {
  background-color: #EDF2EC;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  margin: 34px 40px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.header {
  background-color: #EDF2EC;
}

.container__header {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}

.header__navigation {
  width: 37%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
  color: #010201;
}

.logo {
  padding-top: 10px;
}

.logo__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.welcome {
  background-color: #EDF2EC;
}

.container__welcome {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}

.information {
  padding: 36px 0 32px 0;
  width: 45%;
}

h1 {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  color: #717171;
}

.welcome__text {
  margin-top: 42px;
  color: #636060;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  width: 95%;
}

.button {
  margin-top: 48px;
  width: 29%;
  height: 44px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #000000;
  background-color: #EDF2EC;
}

.container__aboute {
  display: flex;
  justify-content: space-between;
  padding: 93px 0;
}

.information__aboute {
  padding-top: 68px;
  width: 50%;
}

.aboute__text {
  margin-top: 40px;
  width: 100%;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: #636060;
}

.img__aboute {
  margin-left: 153px;
}

.aboute__title {
  color: #499A18;
}

.aboute__title-color {
  color: #E06733;
}

.service {
  background-color: #EDF2EC;
}

.container__service {
  padding-bottom: 121px;
}

.service__title {
  color: #499A18;
  width: 25%;
  padding-top: 40px;
}

.service__button {
  display: flex;
  justify-content: flex-start;
}

.service__buttons {
  padding-top: 19px;
  padding-left: 143px;
  width: 60%;
}

.button__choice {
  width: 161px;
  height: 50px;
  margin-left: 33px;
  color: #E06733;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button__choice:first-child {
  margin: 0;
}

.service__img {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  height: 955px;
}

.card {
  height: 450px;
}

.card__table-of-contents,
.card__text {
  display: block;
  margin-top: 10px;
}

.card__text {
  color: #717171;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.card__table-of-contents {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #E06733;
}

.container__prices {
  padding: 40px 0 150px 0;
  display: flex;
}

.prices__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000000;
}

.prices__accordion {
  margin-top: 60px;
  height: 282px;
}

.accordion__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #000000;
  margin-top: 16px;
}

.prices__inside {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.accordion__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin-top: 17px;
}

.accordion__arrow {
  display: block;
  margin: 6px auto;
}

.prices__information {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  text-align: end;
  width: 51%;
  margin-left: 438px;
  color: #000000;
}

.information__world {
  color: #499A18;
}

.button__information {
  margin-top: 38px;
  margin-left: 728px;
  width: 162px;
  height: 50px;
  color: #E06733;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #ffffff;
  border-radius: 5px;
}

.prices__img {
  display: block;
  margin-top: 39px;
  margin-left: 738px;
}/*# sourceMappingURL=style.css.map */