.contacts_button, .button_contact, .button_choice, .logo__text, .navigation__link_active, .navigation__link, h2 {
  font-family: Inika, Georgia, serif;
}

.contacts__street, .contacts__phone, .contacts__name, .name, .offer__price, .offer__text, .prices__information, .accordion__text, .prices__title, .card__table-of-contents,
.card__text, .aboute__text, .button_information, .welcome__text, h1, .footer__year,
.footer__github,
.footer__center-part {
  font-family: Inter, Verdana, sans-serif;
}

button {
  border-radius: 10px;
  border: 1px solid #E06733;
  background-color: #EDF2EC;
}

.card__table-of-contents,
.card__text {
  text-align: center;
}

.prices__accordion, .card {
  border-radius: 20px;
  border: 1px solid #E3E1D5;
}

.button_contact:hover, .button_choice:hover, .button_information:hover {
  cursor: pointer;
  background-color: #E06733;
  color: #010201;
  transition-duration: 2s;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 10px;
  line-height: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0, auto;
}
@media (max-width: 380px) {
  body.lock {
    height: 100%;
    overflow-y: hidden;
  }
}

button {
  height: 50px;
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.accordion {
  background-color: #EDF2EC;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  margin: 34px 40px;
}
.accordion.open {
  margin-top: 134px;
  position: relative;
}
@media (max-width: 380px) {
  .accordion {
    margin: 0 22px;
    width: 180px;
  }
  .accordion:first-child {
    margin-top: 29px;
  }
  .accordion:last-child {
    margin-top: 10px;
  }
  .accordion:last-child.open {
    margin-top: 120px;
  }
  .accordion:nth-child(2) {
    margin-top: 10px;
  }
  .accordion:nth-child(2).open {
    margin-top: 120px;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}
@media (max-width: 1221px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1001px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 801px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 668px;
  }
}
@media (max-width: 669px) {
  .container {
    max-width: 558px;
  }
}
@media (max-width: 559px) {
  .container {
    max-width: 448px;
  }
}
@media (max-width: 449px) {
  .container {
    max-width: 379px;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 330px;
  }
}
@media (max-width: 331px) {
  .container {
    max-width: 320px;
  }
}

.header {
  background-color: #EDF2EC;
}

.container__header {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}
@media (max-width: 768px) {
  .container__header {
    padding: 35px 0;
  }
}
@media (max-width: 449px) {
  .container__header {
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .container__header {
    flex-direction: row;
    padding: 36px 0;
  }
}

.header__navigation {
  width: 37%;
}
@media (max-width: 1001px) {
  .header__navigation {
    width: 57%;
  }
}
@media (max-width: 768px) {
  .header__navigation {
    width: 67.2%;
  }
}
@media (max-width: 559px) {
  .header__navigation {
    width: 75%;
  }
}
@media (max-width: 449px) {
  .header__navigation {
    width: 85%;
  }
}
@media (max-width: 380px) {
  .header__navigation {
    display: none;
  }
}
@media (max-width: 380px) {
  .header__navigation {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #EDF2EC;
    opacity: 0.9;
    transition: left 0.8s ease 0s;
  }
  .header__navigation.active {
    left: 0;
  }
}

@media (max-width: 380px) {
  .header__icon {
    display: block;
    align-items: center;
    position: relative;
    z-index: 3;
    width: 40px;
    height: 24px;
    cursor: pointer;
  }
  .header__icon span, .header__icon .sp1, .header__icon::after, .header__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.5s ease 0s;
    background-color: #717171;
  }
  .header__icon::after, .header__icon::before {
    content: "";
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 35%;
    transform: scale(1) translate(0px, -35%);
  }
  .header__icon .sp1 {
    top: 68%;
    transform: scale(1) translate(0px, -68%);
  }
  .header__icon.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__icon.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__icon.active span {
    transform: scale(0) translate(0px, -35%);
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media (max-width: 380px) {
  .navigation {
    padding-top: 100px;
    padding-left: 10px;
    height: 100%;
    width: 80%;
    flex-direction: column;
    background-color: #D6E7D2;
    margin-left: 0px;
  }
}

.navigation__link {
  text-decoration: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
  color: #010201;
}
.navigation__link_active {
  color: #E06733;
  text-decoration: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
}
.navigation__link:hover {
  color: #E06733;
  transition-duration: 2s;
}
@media (max-width: 380px) {
  .navigation__link {
    margin-left: 30px;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5rem;
  }
}

.logo {
  padding-top: 10px;
}
@media (max-width: 380px) {
  .logo {
    padding: 0;
  }
}

.logo__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container__footer {
  display: flex;
  justify-content: flex-start;
  padding: 40px 0;
}
@media (max-width: 768px) {
  .container__footer {
    flex-direction: column;
    padding: 33px 0 18px 0;
  }
}
@media (max-width: 380px) {
  .container__footer {
    padding: 22px 0 7px 0;
  }
}

.footer__img-block {
  display: block;
  width: 11%;
}
@media (max-width: 768px) {
  .footer__img-block {
    width: 12%;
  }
}

.footer__img {
  display: block;
  padding-top: 15px;
}
@media (max-width: 768px) {
  .footer__img {
    padding: 4px;
    margin: auto;
  }
}

.footer_left-part {
  display: flex;
  justify-content: space-between;
  width: 14%;
}
@media (max-width: 1221px) {
  .footer_left-part {
    width: 18%;
  }
}
@media (max-width: 1001px) {
  .footer_left-part {
    width: 22%;
  }
}
@media (max-width: 768px) {
  .footer_left-part {
    margin: auto;
    width: 31.4%;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 559px) {
  .footer_left-part {
    width: 40%;
  }
}
@media (max-width: 380px) {
  .footer_left-part {
    width: 64%;
  }
}

.footer__year,
.footer__github,
.footer__center-part {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
}
@media (max-width: 768px) {
  .footer__year,
  .footer__github,
  .footer__center-part {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.footer__center-part {
  margin-left: 28%;
  width: 19%;
}
@media (max-width: 1221px) {
  .footer__center-part {
    width: 26%;
    margin-left: 24%;
  }
}
@media (max-width: 1001px) {
  .footer__center-part {
    width: 33%;
    margin-left: 20%;
  }
}
@media (max-width: 768px) {
  .footer__center-part {
    margin: auto;
    width: 31.4%;
    margin-top: 16px;
  }
}
@media (max-width: 669px) {
  .footer__center-part {
    width: 40%;
  }
}
@media (max-width: 559px) {
  .footer__center-part {
    width: 48%;
  }
}
@media (max-width: 449px) {
  .footer__center-part {
    width: 56%;
  }
}
@media (max-width: 380px) {
  .footer__center-part {
    width: 64%;
  }
}
@media (max-width: 331px) {
  .footer__center-part {
    width: 66%;
  }
}

.footer_right-part {
  margin-left: 26%;
  width: 16%;
}
@media (max-width: 1221px) {
  .footer_right-part {
    width: 20%;
    margin-left: 20%;
  }
}
@media (max-width: 1001px) {
  .footer_right-part {
    width: 24%;
    margin-left: 14%;
  }
}
@media (max-width: 768px) {
  .footer_right-part {
    margin: auto;
    width: 28%;
    margin-top: 25px;
  }
}
@media (max-width: 559px) {
  .footer_right-part {
    width: 40%;
  }
}
@media (max-width: 380px) {
  .footer_right-part {
    width: 59%;
    margin-top: 12px;
  }
}

.navigate {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigate__link-footer {
  display: block;
  padding-top: 9px;
}
@media (max-width: 768px) {
  .navigate__link-footer {
    padding-top: 0;
  }
}

.welcome {
  background-color: #EDF2EC;
}

.container__welcome {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}
@media (max-width: 768px) {
  .container__welcome {
    flex-direction: row-reverse;
    padding: 40px 0 70px 0;
  }
}
@media (max-width: 559px) {
  .container__welcome {
    flex-direction: column-reverse;
  }
}
@media (max-width: 380px) {
  .container__welcome {
    padding: 24px 0;
  }
}

.information {
  padding: 36px 0 32px 0;
  width: 45%;
}
@media (max-width: 768px) {
  .information {
    width: 52%;
    padding: 0;
  }
}
@media (max-width: 559px) {
  .information {
    width: 100%;
  }
}

h1 {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  color: #717171;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
  }
}

.welcome__text {
  margin-top: 42px;
  color: #636060;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  width: 95%;
}
@media (max-width: 768px) {
  .welcome__text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    margin-top: 30px;
    width: 100%;
  }
}
@media (max-width: 380px) {
  .welcome__text {
    margin-top: 20px;
  }
}

.button_information {
  margin-top: 48px;
  width: 29%;
  height: 44px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #000000;
}
@media (max-width: 1221px) {
  .button_information {
    width: 35%;
  }
}
@media (max-width: 1001px) {
  .button_information {
    width: 44%;
  }
}
@media (max-width: 768px) {
  .button_information {
    width: 46%;
    margin-top: 30px;
  }
}
@media (max-width: 380px) {
  .button_information {
    margin-top: 25px;
    width: 30%;
    height: 34px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }
}

@media (max-width: 1001px) {
  .welcome__img {
    width: 50%;
    height: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .welcome__img {
    width: 42%;
    height: 252px;
    margin-top: 0;
  }
}
@media (max-width: 669px) {
  .welcome__img {
    width: 48%;
  }
}
@media (max-width: 559px) {
  .welcome__img {
    margin-top: 10px;
  }
}
@media (max-width: 449px) {
  .welcome__img {
    width: 65%;
  }
}
@media (max-width: 380px) {
  .welcome__img {
    display: none;
  }
}

.container__aboute {
  display: flex;
  justify-content: space-between;
  padding: 93px 0;
}
@media (max-width: 1001px) {
  .container__aboute {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .container__aboute {
    padding: 40px 0 95px 0;
  }
}
@media (max-width: 380px) {
  .container__aboute {
    padding: 30px 0 31px 0;
  }
}

.information__aboute {
  padding-top: 68px;
  width: 50%;
}
@media (max-width: 1001px) {
  .information__aboute {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .information__aboute {
    padding-top: 0;
  }
}

.aboute__text {
  margin-top: 40px;
  width: 100%;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: #636060;
}
@media (max-width: 768px) {
  .aboute__text {
    margin-top: 50px;
  }
}
@media (max-width: 380px) {
  .aboute__text {
    margin-top: 18px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
  }
}

.img__aboute {
  margin-left: 153px;
}
@media (max-width: 768px) {
  .img__aboute {
    margin-left: 0;
    margin: auto;
    margin-top: 68px;
    width: 37.2%;
  }
}
@media (max-width: 449px) {
  .img__aboute {
    width: 65%;
  }
}
@media (max-width: 380px) {
  .img__aboute {
    margin: 0 auto;
    width: 45%;
    height: 147px;
  }
}

.aboute__title {
  color: #499A18;
}
@media (max-width: 768px) {
  .aboute__title {
    width: 63%;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 559px) {
  .aboute__title {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .aboute__title {
    width: 87%;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.aboute__title-color {
  color: #E06733;
}

@media (max-width: 768px) {
  .img__about-plants {
    display: block;
    height: 258px;
  }
}
@media (max-width: 449px) {
  .img__about-plants {
    margin: 20px auto;
  }
}
@media (max-width: 380px) {
  .img__about-plants {
    margin: 0;
    height: 147px;
  }
}

.service {
  background-color: #EDF2EC;
}

.container__service {
  padding: 40px 0 121px 0;
}
@media (max-width: 768px) {
  .container__service {
    padding: 60px 0 70px 0;
  }
}
@media (max-width: 380px) {
  .container__service {
    padding: 30px 0 27px 0;
  }
}

.service__title {
  color: #499A18;
  width: 25%;
}
@media (max-width: 1001px) {
  .service__title {
    width: 45%;
  }
}
@media (max-width: 559px) {
  .service__title {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .service__title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 57%;
  }
}

.service__button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
@media (max-width: 1001px) {
  .service__button {
    flex-direction: column;
  }
}

.service__buttons {
  margin-top: 29px;
  margin-left: 143px;
  width: 60%;
}
@media (max-width: 1001px) {
  .service__buttons {
    margin-left: 0;
    width: 75%;
  }
}
@media (max-width: 768px) {
  .service__buttons {
    margin-top: 44px;
    width: 100%;
  }
}
@media (max-width: 380px) {
  .service__buttons {
    margin-top: 40px;
    width: 80%;
  }
}

.button_choice {
  width: 161px;
  height: 50px;
  margin-left: 33px;
  color: #E06733;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button_choice.active {
  background-color: #E06733;
  color: #010201;
}
.button_choice.no-hover {
  cursor: none;
  background-color: #EDF2EC;
  color: #E06733;
}
@media (max-width: 559px) {
  .button_choice:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media (max-width: 380px) {
  .button_choice {
    width: 121px;
    height: 35px;
    margin-left: 10px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.button_choice:first-child {
  margin-left: 0;
}

.service__img {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  height: 955px;
}
@media (max-width: 1001px) {
  .service__img {
    height: 1400px;
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .service__img {
    margin-top: 2px;
    height: 1464px;
  }
}
@media (max-width: 669px) {
  .service__img {
    height: 3000px;
    margin-top: 38px;
  }
}
@media (max-width: 380px) {
  .service__img {
    height: 2870px;
  }
}

.card {
  height: 450px;
}
@media (max-width: 1001px) {
  .card {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .card {
    margin-top: 38px;
  }
}
@media (max-width: 669px) {
  .card {
    margin: auto;
  }
}
@media (max-width: 380px) {
  ma .card:first-child {
    margin-top: 0;
  }
}

.card__table-of-contents,
.card__text {
  display: block;
  margin-top: 8px;
}

.card__text {
  color: #717171;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
@media (max-width: 768px) {
  .card__text {
    text-align: center;
    width: 72%;
    margin: 8px auto;
  }
}

.card__table-of-contents {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #E06733;
}

.card__garden.active,
.card__planting.active,
.card__lawn.active {
  opacity: 0.5;
}

.container__prices {
  padding: 40px 0 88px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 669px) {
  .container__prices {
    flex-direction: column;
    padding: 40px 0 40px 0;
  }
}
@media (max-width: 380px) {
  .container__prices {
    padding-top: 25px;
  }
}

.prices__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000000;
}
@media (max-width: 768px) {
  .prices__title {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 14px;
  }
}
@media (max-width: 669px) {
  .prices__title {
    width: 24%;
    margin: auto;
  }
}
@media (max-width: 380px) {
  .prices__title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.prices__accordion {
  margin-top: 60px;
  height: 282px;
}
.prices__accordion.active {
  height: 370px;
}
@media (max-width: 768px) {
  .prices__accordion {
    margin-top: 55px;
  }
}
@media (max-width: 669px) {
  .prices__accordion {
    width: 60%;
    margin: 30px auto;
  }
}
@media (max-width: 559px) {
  .prices__accordion {
    width: 75%;
  }
}
@media (max-width: 449px) {
  .prices__accordion {
    width: 86%;
  }
}
@media (max-width: 380px) {
  .prices__accordion {
    width: 68%;
    height: 235px;
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.accordion:hover {
  background-color: #D6E7D2;
  transition-duration: 2s;
  cursor: pointer;
}

.accordion_choice {
  height: 50px;
}
.accordion_choice.active {
  background-color: #D6E7D2;
  border-radius: 20px 20px 0 0;
}

.accordion__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #000000;
  margin-top: 16px;
}
@media (max-width: 380px) {
  .accordion__text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
  }
}

.prices__inside {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
@media (max-width: 380px) {
  .prices__inside {
    padding: 0 38px 0 30px;
  }
}

.accordion__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin-top: 17px;
  background-image: url("/Plants-RS-School/Plants/images/accordion_open.png");
}

.information__price {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 37%;
}
@media (max-width: 1001px) {
  .information__price {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .information__price {
    width: 44.5%;
  }
}
@media (max-width: 669px) {
  .information__price {
    margin: 0 auto;
    width: 46%;
  }
}
@media (max-width: 559px) {
  .information__price {
    width: 75%;
  }
}
@media (max-width: 380px) {
  .information__price {
    width: 70%;
  }
}

.prices__information {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  text-align: end;
  width: 100%;
  color: #000000;
}
@media (max-width: 768px) {
  .prices__information {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    margin-top: 99px;
  }
}
@media (max-width: 669px) {
  .prices__information {
    margin-top: 0;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .prices__information {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.5rem;
    margin-top: 21px;
  }
}

.information__world {
  color: #499A18;
}

.button_contact {
  margin-top: 38px;
  margin-left: 64%;
  width: 36%;
  height: 50px;
  color: #E06733;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #ffffff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .button_contact {
    width: 54.7%;
    margin-left: 44.5%;
    margin-top: 28px;
  }
}
@media (max-width: 669px) {
  .button_contact {
    margin: 20px auto;
  }
}
@media (max-width: 380px) {
  .button_contact {
    width: 52%;
    height: 35px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
  }
}

.prices__img {
  display: block;
  margin-top: 39px;
  margin-left: 290px;
}
@media (max-width: 768px) {
  .prices__img {
    width: 51%;
    margin-left: 49%;
    margin-top: 34px;
  }
}
@media (max-width: 669px) {
  .prices__img {
    margin: 20px auto;
  }
}
@media (max-width: 380px) {
  .prices__img {
    display: none;
  }
}

.accordion_choice + .offer {
  height: 0;
  overflow: hidden;
}

.accordion_choice.active + .offer {
  height: 104px;
  overflow: visible;
}
@media (max-width: 380px) {
  .accordion_choice.active + .offer {
    height: 110px;
  }
}

.accordion_choice.active > .prices__inside > .accordion__circle {
  background-image: url("/Plants-RS-School/Plants/images/accordion_close.png");
}

.offer {
  border-radius: 0 0 20px 20px;
  background-color: #D6E7D2;
  width: 250px;
  margin: 0 auto;
}
@media (max-width: 380px) {
  .offer {
    width: 180px;
  }
}

hr {
  margin-left: 40px;
  width: 65%;
}
@media (max-width: 380px) {
  hr {
    margin-left: 30px;
  }
}

.offer__text {
  margin-top: 6px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  color: #717171;
  width: 68%;
  margin-left: 40px;
}
@media (max-width: 380px) {
  .offer__text {
    margin-left: 30px;
  }
}

.offer__price {
  margin-left: 40px;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
}
@media (max-width: 380px) {
  .offer__price {
    margin-left: 30px;
    height: 30px;
  }
}

.offer__color {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  color: #E06733;
}

.offer__button {
  border: none;
  width: 34%;
  height: 26px;
  margin-left: 40px;
}
@media (max-width: 380px) {
  .offer__button {
    margin-left: 30px;
  }
}

.contacts {
  background-color: #EDF2EC;
}

.container__contacts {
  display: flex;
  justify-content: flex-start;
  padding-top: 53px;
}
@media (max-width: 1001px) {
  .container__contacts {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .container__contacts {
    padding-top: 40px;
  }
}
@media (max-width: 380px) {
  .container__contacts {
    padding-top: 25px;
  }
}

.contacts__title {
  width: 16%;
  margin-top: 7px;
  margin-left: 9%;
  color: #499A18;
}
@media (max-width: 1221px) {
  .contacts__title {
    width: 25%;
    margin-left: 5%;
  }
}
@media (max-width: 1001px) {
  .contacts__title {
    margin: auto;
    order: 1;
  }
}
@media (max-width: 768px) {
  .contacts__title {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 29%;
  }
}
@media (max-width: 669px) {
  .contacts__title {
    width: 38%;
  }
}
@media (max-width: 559px) {
  .contacts__title {
    width: 47%;
  }
}
@media (max-width: 449px) {
  .contacts__title {
    width: 56%;
  }
}
@media (max-width: 380px) {
  .contacts__title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 39%;
    margin: auto;
  }
}

.contacts__form {
  margin-left: 5.2%;
  margin-top: 95px;
  width: 37%;
}
@media (max-width: 1221px) {
  .contacts__form {
    margin-left: 3%;
  }
}
@media (max-width: 1001px) {
  .contacts__form {
    margin: auto;
    margin-top: 20px;
    order: 2;
  }
}
@media (max-width: 768px) {
  .contacts__form {
    width: 67.3%;
    margin-top: 99px;
  }
}
@media (max-width: 449px) {
  .contacts__form {
    width: 95%;
  }
}
@media (max-width: 380px) {
  .contacts__form {
    margin-top: 82px;
    width: 91%;
  }
}

.contacts__choice_city {
  display: block;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  color: #717171;
  padding: 5px 35px 5px 20px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #D6E7D2;
  background-image: url("/Plants-RS-School/Plants/images/accordion_btn.svg");
  background-repeat: no-repeat;
  background-position: right 35px top 50%, 0 0;
  width: 100%;
  height: 50px;
}
.contacts__choice_city:hover {
  cursor: pointer;
}
@media (max-width: 380px) {
  .contacts__choice_city {
    background-position: right 25px top 50%, 0 0;
  }
}

.contacts__value {
  margin-left: 20px;
}

@media (max-width: 1001px) {
  .contacts__img {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    order: 3;
  }
}
@media (max-width: 768px) {
  .contacts__img {
    width: 30%;
    margin-top: 250px;
  }
}
@media (max-width: 380px) {
  .contacts__img {
    margin-top: 132px;
  }
}

.contacts__choice_city + .contacts__data {
  display: none;
}

.contacts__choice_city.active + .contacts__data {
  display: block;
}

.contacts__option {
  padding-top: 100px;
  width: 100%;
}

.contacts__data {
  width: 100%;
  height: 217px;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-top: 47px;
}

.contacts__city {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 35px;
}

.name {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.8px;
}

.contacts__name {
  margin-left: 93px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.8px;
  color: #717171;
}

.contacts__call {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
  margin-left: 35px;
}

.contacts__phone {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.8px;
  color: #717171;
  margin-left: 70px;
}

.contacts__address {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
  margin-left: 35px;
}

.contacts__street {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.8px;
  color: #717171;
  margin-left: 12px;
}

.contacts_button {
  display: block;
  width: 122px;
  height: 29px;
  margin-top: 15px;
  margin-left: 162px;
  text-decoration: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #717171;
  padding-top: 7px;
  border: 1px solid #E06733;
  border-radius: 5px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */