.button_contact, .button_choice, .logo__text, .navigation__link, h2 {
  font-family: Inika, Georgia, serif;
}

.prices__information, .accordion__text, .prices__title, .card__table-of-contents,
.card__text, .aboute__text, .button_information, .welcome__text, h1, .footer__year,
.footer__github,
.footer__center-part {
  font-family: Inter, Verdana, sans-serif;
}

button {
  border-radius: 10px;
  border: 1px solid #E06733;
  background-color: #EDF2EC;
}

.card__table-of-contents,
.card__text {
  text-align: center;
}

.prices__accordion, .card {
  border-radius: 20px;
  border: 1px solid #E3E1D5;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 10px;
  line-height: 16px;
}

body {
  margin: 0, auto;
}

button {
  height: 50px;
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.accordion {
  background-color: #EDF2EC;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  margin: 34px 40px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}
@media (max-width: 1221px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1001px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 801px) {
  .container {
    max-width: 767px;
  }
}

.header {
  background-color: #EDF2EC;
}

.container__header {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}

.header__navigation {
  width: 37%;
}
@media (max-width: 1001px) {
  .header__navigation {
    width: 57%;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
  color: #010201;
}

.logo {
  padding-top: 10px;
}

.logo__text {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container__footer {
  display: flex;
  justify-content: flex-start;
  padding: 40px 0;
}

.footer__img-block {
  display: block;
  width: 11%;
}

.footer__img {
  display: block;
  padding-top: 15px;
}

.footer_left-part {
  display: flex;
  justify-content: space-between;
  width: 14%;
}
@media (max-width: 1221px) {
  .footer_left-part {
    width: 18%;
  }
}
@media (max-width: 1001px) {
  .footer_left-part {
    width: 22%;
  }
}

.footer__year,
.footer__github,
.footer__center-part {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
}

.footer__center-part {
  margin-left: 28%;
  width: 19%;
}
@media (max-width: 1221px) {
  .footer__center-part {
    width: 26%;
    margin-left: 24%;
  }
}
@media (max-width: 1001px) {
  .footer__center-part {
    width: 33%;
    margin-left: 20%;
  }
}

.footer_right-part {
  margin-left: 26%;
  width: 16%;
}
@media (max-width: 1221px) {
  .footer_right-part {
    width: 20%;
    margin-left: 20%;
  }
}
@media (max-width: 1001px) {
  .footer_right-part {
    width: 24%;
    margin-left: 14%;
  }
}

.navigation__link {
  display: block;
  padding-top: 9px;
}

.welcome {
  background-color: #EDF2EC;
}

.container__welcome {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}

.information {
  padding: 36px 0 32px 0;
  width: 45%;
}

h1 {
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  color: #717171;
}

.welcome__text {
  margin-top: 42px;
  color: #636060;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  width: 95%;
}

.button_information {
  margin-top: 48px;
  width: 29%;
  height: 44px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #000000;
}
@media (max-width: 1221px) {
  .button_information {
    width: 35%;
  }
}
@media (max-width: 1001px) {
  .button_information {
    width: 44%;
  }
}

@media (max-width: 1001px) {
  .welcome__img {
    width: 50%;
    height: 100%;
    margin-top: 10px;
  }
}

.container__aboute {
  display: flex;
  justify-content: space-between;
  padding: 93px 0;
}
@media (max-width: 1001px) {
  .container__aboute {
    flex-direction: column;
  }
}

.information__aboute {
  padding-top: 68px;
  width: 50%;
}
@media (max-width: 1001px) {
  .information__aboute {
    width: 100%;
  }
}

.aboute__text {
  margin-top: 40px;
  width: 100%;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: #636060;
}

.img__aboute {
  margin-left: 153px;
}

.aboute__title {
  color: #499A18;
}

.aboute__title-color {
  color: #E06733;
}

.service {
  background-color: #EDF2EC;
}

.container__service {
  padding-top: 40px;
  padding-bottom: 121px;
}

.service__title {
  color: #499A18;
  width: 25%;
}
@media (max-width: 1001px) {
  .service__title {
    width: 45%;
  }
}

.service__button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
@media (max-width: 1001px) {
  .service__button {
    flex-direction: column;
  }
}

.service__buttons {
  margin-top: 29px;
  margin-left: 143px;
  width: 60%;
}
@media (max-width: 1001px) {
  .service__buttons {
    margin-left: 0;
    width: 75%;
  }
}

.button_choice {
  width: 161px;
  height: 50px;
  margin-left: 33px;
  color: #E06733;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button_choice:first-child {
  margin-left: 0;
}

.service__img {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  margin-top: 80px;
  height: 955px;
}
@media (max-width: 1001px) {
  .service__img {
    height: 1400px;
    margin-top: 50px;
  }
}

.card {
  height: 450px;
}
@media (max-width: 1001px) {
  .card {
    margin-top: 30px;
  }
}

.card__table-of-contents,
.card__text {
  display: block;
  margin-top: 10px;
}

.card__text {
  color: #717171;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.card__table-of-contents {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #E06733;
}

.container__prices {
  padding: 40px 0 115px 0;
  display: flex;
  justify-content: space-between;
}

.prices__title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000000;
}

.prices__accordion {
  margin-top: 60px;
  height: 282px;
}

.accordion__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #000000;
  margin-top: 16px;
}

.prices__inside {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.accordion__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin-top: 17px;
}

.accordion__arrow {
  display: block;
  margin: 6px auto;
}

.information__price {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 37%;
}
@media (max-width: 1001px) {
  .information__price {
    width: 50%;
  }
}

.prices__information {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  text-align: end;
  width: 100%;
  color: #000000;
}

.information__world {
  color: #499A18;
}

.button_contact {
  margin-top: 38px;
  margin-left: 64%;
  width: 36%;
  height: 50px;
  color: #E06733;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #ffffff;
  border-radius: 5px;
}

.prices__img {
  display: block;
  margin-top: 39px;
  margin-left: 290px;
}

.contacts {
  background-color: #EDF2EC;
}

.container__contacts {
  display: flex;
  justify-content: flex-start;
  padding-top: 53px;
}
@media (max-width: 1001px) {
  .container__contacts {
    flex-direction: column;
  }
}

.contacts__title {
  width: 16%;
  margin-top: 7px;
  margin-left: 9%;
  color: #499A18;
}
@media (max-width: 1221px) {
  .contacts__title {
    width: 25%;
    margin-left: 5%;
  }
}
@media (max-width: 1001px) {
  .contacts__title {
    margin: auto;
    order: 1;
  }
}

.contacts__form {
  margin-left: 5.2%;
  margin-top: 95px;
  width: 37%;
}
@media (max-width: 1221px) {
  .contacts__form {
    margin-left: 3%;
  }
}
@media (max-width: 1001px) {
  .contacts__form {
    margin: auto;
    margin-top: 20px;
    order: 2;
  }
}

.contacts__choice {
  display: block;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  color: #717171;
  padding: 5px 35px 5px 20px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #D6E7D2;
  background-image: url("/Plants-RS-School/Plants/images/accordion_btn.svg");
  background-repeat: no-repeat;
  background-position: right 35px top 50%, 0 0;
  width: 100%;
  height: 50px;
}

.contacts__value {
  margin-left: 20px;
}

@media (max-width: 1001px) {
  .contacts__img {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    order: 3;
  }
}/*# sourceMappingURL=style.css.map */